/* Your CSS codes here */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 300px;
}
.outer {
    padding-bottom: 100px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 300px;
}
@media (max-width: 785px) {
    body {
        /* Margin bottom by footer height*/
        margin-bottom: 721px;
    }
    .footer {
        /* Set the fixed height of the footer here*/
        min-height: 521px;
    }
    img {
        max-width: 100%;
    }
    .blog-masonry img {
        max-width: 90%;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 30px 0 5px;
}
h1 {
    font-size: 38px;
    line-height: 50px;
}
p {
    margin: 0 0 10px;
}
.header-2 .navi ul li a img {
  float: right;
}
img.p-image {
    border: 0.3em solid transparent;
    border-radius: 999em;
}
img.p-image-horiz {
    border: 0.3em solid transparent;
    border-radius: 5em;
}
img.p-image-horiz-min {
    border: 0.3em solid transparent;
    border-radius: 2em;
}
img.float-image {
    float: left;
    margin: 10px 10px 10px 0;
}
.image-block {
    margin: 20px;
}
.image-style-five .image-caption {
    top: 0;
}
.image-style-five .image-caption h4 {
    font-size: 15px;
}
.image-block h4 a {
    color: #FFDFA4;
}
@media screen and (min-width: 480px) {
    .tk-acumin-pro {
        font-size: 110%;
    }
}

@media screen and (min-width: 764px) {
    .tk-acumin-pro {
        font-size: 120%;
    }
    blockquote p {
        font-size: 100%;
    }
    .header-2 .navi {
        margin-top: 0 !important;
    }
    .header-2 .navi > ul > li > a {
        font-size: 120%;
    }
}
@media screen and (min-width: 940px) {
    .tk-acumin-pro {
        font-size: 130%;
    }
    .tk-droid-serif {
        font-size: 130%;
    }
    blockquote p {
        font-size: 110%;
    }
    .header-2 .navi > ul > li > a {
        font-size: 150%;
    }
}
@media screen and (min-width: 768px) {
    .header-2 .col-md-6 {
        width: 50%;
        float: right;
    }
    .header-2 .navi {
        float: left;
        display: inline;
        background-color: transparent;
    }
}
.page-heading-two h2 {
    margin: 0;
    font-weight: bold;
    line-height: 30px;
}
.page-heading-two h2 span {
    margin-left: 0 !important;
    font-weight: normal;
    display: block;
}
.justify-text {
    text-align: justify; text-justify: inter-word;"
}
.align-center-text {
    text-align: center;
}
.typewrite {
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: .1em solid transparent;
  display: inline-block;
  font-weight: bold;
  font-size: 150%;
  background: #609cec;
  color: #fff !important;
}
.bckg-no-repeat-top-left {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
}
em {color: #609cec;}
.thumb {
  width: 16px;
  height: 16px;
}
table, th, td {
   border: 1px solid gray;
   padding: 5px 5px 5px 5px;
}
