---
layout: default
title: About
permalink: /about/
---

<div class="container">
  {% assign index = 0 %}
  {% for authorEntry in site.data.authors %}
  {% capture modulo %}{{ forloop.index0 | mod:4 }}{% endcapture %}
  {% assign author = authorEntry[1] %}
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 justify-text" >
    <div class="block-heading-six align-center-text"><h4 class="bg-color">Author</h4><br/></div>
          {% if author.bio1 %}
              {{ author.bio1 | markdownify }}
          {% endif %}
          {% if author.bio2 %}
          {{ author.bio2 | markdownify }}
          {% endif %}
          <a href="#" target="_blank"><img class="img-responsive" src="{{ '/img/author/projects_SCEE.png' | prepend: site.baseurl }}" alt="Cycleon SCEE RMA Portal and Repair Centers Integration" /></a>
          {% if author.bio3 %}
          {{ author.bio3 | markdownify }}
          {% endif %}
          {% if author.bio4 %}
          {{ author.bio4 | markdownify }}
          {% endif %}
          {% if author.bio5 %}
          {{ author.bio5 | markdownify }}
          {% endif %}
  </div>
</div>
{% endfor %}
</div>