<!-- Bottomebar -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 10px 10px 10px 10px;">

    <!-- Start Categories Widget -->
    <div class="s-widget">
        <!-- Heading -->
        <h5><i class="fa fa-folder color"></i>&nbsp; Categories</h5>
        <!-- Widgets Content -->
        <div class="widget-content">
          {% for cat in site.categories %}
              <a href="/categories/{{cat[0] | downcase | replace:' ','-' }}" class="label label-color">{{cat[0]}}</a>
          {% endfor %}
        </div>
    </div>
    <!-- End Categories Widget -->

    <!-- Start Tag Widget -->
    <div class="s-widget">
        <h5><i class="fa fa-tags color"></i>&nbsp; Tags</h5>
        <!-- Widgets Content -->
        <div class="widget-content">
            {% for tag in site.tags %}
                <a href="/tags/{{tag[0] | downcase | replace:' ','-' }}" class="label label-color">{{tag[0]}}</a>
            {% endfor %}
        </div>
    </div>
    <!-- End Tag Widget -->

    <br>

</div>