<!-- Sidebar column -->
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Categories Widget -->
        <div class="s-widget">
            <!-- Heading -->
            <h5><i class="fa fa-folder color"></i>&nbsp; Categories</h5>
            <!-- Widgets Content -->
            <div class="widget-content categories">
                <ul class="list-6">
                    {% for cat in site.categories %}
                        <li><a href="/categories/{{cat[0] | downcase | replace:' ','-' }}">{{cat[0]}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Tag Widget -->
        <div class="s-widget">
            <h5><i class="fa fa-tags color"></i>&nbsp; Tags</h5>
            <!-- Widgets Content -->
            <div class="widget-content">
                {% for tag in site.tags %}
                    <a href="/tags/{{tag[0] | downcase | replace:' ','-' }}" class="label label-color">{{tag[0]}}</a> {% endfor %}
            </div>
        </div>

        <!-- Social media widget -->
        <div class="s-widget">
            <h5><i class="fa fa-share color"></i>&nbsp; Social Media</h5>
            <!-- Widgets Content -->
            <div class="widget-content brand-bg">
                <!-- Social Media Icons -->
                <a target="_blank" href="https://github.com/cristinanegrean" class="github"><i class="fa fa-github circle-3"></i></a>
                <a target="_blank" href="https://nl.linkedin.com/in/cristinanegrean" class="linkedin"><i class="fa fa-linkedin circle-3"></i></a>
                <a target="_blank" href="https://twitter.com/cristinanegrean" class="twitter"><i class="fa fa-twitter circle-3"></i></a>
                <a href="mailto:hello@cristina.tech" class="bitcoin"><i class="fa fa-bitcoin circle-3"></i></a>
            </div>
        </div>
    </div>
</div>
