<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.metadata.keywords }}">
    <meta name="author" content="Cristina Negrean">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.layout == 'post' %}
    {% assign author = site.data.authors[page.author] %}
    <!-- Facebook Open Graph -->
    <meta property="og:url" content="http://cristinanegrean.github.io{{ page.url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }} - {{ author.first_name }} {{ author.last_name }}" />
    <meta property="og:description" content="{{ site.title }}" />
    <meta property="og:image" content="http://cristinanegrean.github.io{{ page.image }}" />
    {% endif %}

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="{{ site.baseurl }}/css/font-awesome.min.css" rel="stylesheet">
    <!-- Magnific Popup -->
    <link href="{{ site.baseurl }}/css/magnific-popup.css" rel="stylesheet">
    <!-- Owl carousel -->
    <link href="{{ site.baseurl }}/css/owl.carousel.css" rel="stylesheet">

    <!-- CSS for this page -->

    <!-- Base style -->
    <link href="{{ site.baseurl }}/css/styles/style.css" rel="stylesheet">
    <!-- Skin CSS -->
    <link href="{{ site.baseurl }}/css/styles/skin-blue.css" rel="stylesheet" id="color_theme">

    <!-- Syntax highlighting -->
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet">

    <!-- Custom CSS. Type your CSS code in custom.css file -->
    <link href="{{ site.baseurl }}/css/custom.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="#">

    <script src="https://use.typekit.net/gzh0mbm.js"></script>
    <script>
        try {
            Typekit.load({async: true});
        } catch (e) {
        }
    </script>
</head>

<!-- Add class "boxed" along with body for boxed layout. -->
<!-- Add "pattern-x" (1 to 5) for background patterns. -->
<!-- Add "img-x" (1 to 5) for background images. -->
<body>

<!-- Outer Starts -->
<div class="outer">
    <!-- Header two Starts -->
    <div class="header-2">

        <!-- Container -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="logo">
                        <h1><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/site/logo.png" width="354" height="280"/></a></h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="navy">
                        <ul>
                            <li><a href="{{ site.baseurl }}/">Blog</a></li>
                            <li><a href="{{ site.baseurl }}/about/">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header two ends -->

    <!-- Main content starts -->

    <div class="main-block">

        <div class="container tk-acumin-pro">
            {{content}}
        </div>
    </div>
    <!-- Main content ends -->
</div>
<!-- Footer Starts -->
<footer class="footer">
    <!-- Container -->
    <div class="container">
        <!-- Foot Starts -->
        <div class="foot">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <!-- Foot Item -->
                        <div class="foot-item">
                            <!-- Heading -->
                            <h5 class="bold"><i class="fa fa-coffee"></i>&nbsp;&nbsp;Gamification</h5>
                            <p>Powered by <a href="https://pages.github.com/" class="blue">GitHub Pages</a> and <a href="https://jekyllrb.com/" class="blue">Jekyll</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <!-- Foot Item -->
                        <div class="foot-item">
                            <!-- Heading -->
                            <h5 class="bold"><i class="fa fa-comments"></i>&nbsp;&nbsp;Recent Posts</h5>
                            <!-- Foot Item Content -->
                            <div class="foot-item-content">
                                <ul class="list-unstyled">
                                    {% for post in site.posts limit:7 %}
                                    <li>
                                        <span>{{ post.date | date_to_string }}</span> &raquo;
                                        <a href="{{ post.url }}">
                                            {{ post.title }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Foot Ends -->
        <!-- Footer Content -->
        <p class="pull-left">The contents of this website are &copy; {{site.time | date: "%Y" }} under the terms of the <a href="https://opensource.org/licenses/MIT" class="blue">MIT</a> license</p>
        <ul class="list-inline pull-right">
            <!-- List -->
            <li><a href="{{ site.baseurl }}/">Blog</a>
            <li><a href="{{ site.baseurl }}/about/">About</a></li>
        </ul>
        <!-- Clearfix -->
        <div class="clearfix"></div>
    </div>
</footer>
<!-- Footer Ends -->

<!-- Outer Ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-angle-up bg-color"></i></a></span>

<script src="{{ site.baseurl }}/js/jquery.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/placeholders.js"></script>
<script src="{{ site.baseurl }}/js/jquery.magnific-popup.min.js"></script>
<script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/respond.min.js"></script>
<script src="{{ site.baseurl }}/js/html5shiv.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>

<script src="{{ site.baseurl }}/js/imagesloaded.min.js"></script>
<script src="{{ site.baseurl }}/js/masonry.js"></script>

<!-- Javascript for this page -->
<script>
    // Initialize Masonry
    var $box = $('.blog-masonry').masonry();
    // Layout Masonry again after all images have loaded
    $box.imagesLoaded(function () {
        $box.masonry();
    });
</script>

<!-- Custom JS. Type your JS code in custom.js file -->
<script src="{{ site.baseurl }}/js/custom.js"></script>

<!-- Disqus -->
{% if page.comments %}
    <script type="text/javascript">
        var disqus_config = function () {
            this.page.url = "{{ page.url | prepend: site.url }}";
            this.page.identifier = "{{ page.url }}";
            this.page.title = "{{ page.title }}";
        };
    </script>
    <script src="{{ site.baseurl }}/js/embed.js" async></script>
{% endif %}

<!-- Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o);
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-15533478-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
